
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href='/static/css/normalize.css' />
	<link rel="stylesheet" href='/static/css/skeleton.css' />

<style>
	.responsive {
	  width: 100%;
	  height: auto;
	}
</style>

</head>
<body class="code-snippets-visible">
<!-- .container is main centered wrapper -->
<div class="container">

  <!-- columns should be the immediate child of a .row -->
  <div class="row">
    <div class="six columns">
		<img src={{image1}} class="responsive"/>
	</div>
    <div class="six columns">
		<table class="u-full-width">
        <tr>
			<th>روز هفته</th>
			<th>میانگین تقاضای روزانه</th>
			<th>انحراف معیار تقاضای روزانه</th>
      </tr>
      {%for row in tbl%}
         <tr>
            {%for col in row%}
              <td>{{col}}</td>
            {%endfor%}
         </tr>
      {%endfor%}
    </table>

	</div>
  </div>
  
  <br/>
  
    <div class="row">
	
	<div class="twelve columns">
		<div class="six columns">
			<form method="post" action="{{ url_for('index') }}">
				<input type="number" id="text" name="text" min="1" placeholder="Enter k...">
				<button type="submit">Submit</button>
			</form>

		</div>
	</div>
	
	<div class="twelve columns">
		

		<div class="six columns">
			<table class="u-full-width">
        <tr>
			<th>گروه مشتریان</th>
			<th>Avg. R</th>
			<th>Avg. F</th>
			<th>Avg. M</th>
      </tr>
      {%for row in cluster_centers%}
         <tr>
            {%for col in row%}
              <td>{{col}}</td>
            {%endfor%}
         </tr>
      {%endfor%}
    </table>
		</div>

		<div class="six columns">

			<img src={{image2}} class="responsive"/>
		</div>
	  </div>
  	</div>
  
  



</div>

</body>
</html>